@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$Color1: #ec5242;
$Color2: #272a31;
$Color3: #f1f1f1;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

main {
  margin-top: 82px;
  text-align: center;
  color: $Color2;
}

nav {
  background-color: $Color3;
  box-shadow: 0 0 10px 0 $Color2;
  padding: 10px;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;
  }
}

.nav-content {
  background-color: $Color2;
  font-size: 12px;
  line-height: 37px;
  padding: 25px 50px;

  .button-links {
    background-color: $Color2;
    color: $Color3;
    border: none;
    border-bottom: 1px dotted $Color3;
  }

  .button-link1 {
    border-top: 1px dotted $Color3;
  }

  ul {
    margin: 0;

    li {
      margin: 0 0 0 20px;
      border-bottom: 1px dotted $Color3;
    }
  }

  a {
    display: block;
    color: $Color3;
  }
}

.search {
  background-color: $Color3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
  border-radius: 5px;

  input {
    border: none;
    padding: 0 0 0 10px;
    width: 100vw;
    border-radius: 0 5px 5px 0;
  }
}

.iconify {
  color: $Color2;
  font-size: 20px;
}

.icon-1 {
  font-size: 24px;
}

.first_sec {
  background-image: url(/assets/Images/Galaxy-background.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 600px;
}

.second-sec {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 35px;
    color: $Color1;
  }

  h3 {
    font-size: 35px;
  }
}

.features {
  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  .iconify {
    font-size: 35px;
    color: $Color1;
  }
}

.main_buttons {
  font-size: 13px;
  font-weight: 600;
  color: $Color3;
  background-color: $Color1;
  padding: 15px 22px;
  border: none;
  box-shadow: 0px 2px 5px 0 #fc3721;
  border-radius: 8px;
}