@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

$Color1: #ec5242;
$Color2: #444;
$Color3: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

nav {
  background-color: $Color3;
  box-shadow: 0 0 10px 0 $Color2;
  padding: 10px;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;
  }
}

.nav-content {
  background-color: $Color1;
  font-size: 12px;
  line-height: 37px;
  padding: 25px 50px;

  .button-links {
    background-color: $Color1;
    color: $Color3;
    border: none;
    border-bottom: 1px dotted $Color3;
  }

  .button-link1 {
    border-top: 1px dotted $Color3;
  }

  ul {
    margin: 0;

    li {
      margin: 0 0 0 20px;
      border-bottom: 1px dotted $Color3;
    }
  }

  a {
    display: block;
    color: $Color3;
  }
}

.search {
  background-color: $Color3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
  border-radius: 5px;

  input {
    border: none;
    padding: 0 0 0 10px;
    width: 100vw;
    border-radius: 0 5px 5px 0;
  }
}

.iconify {
  color: $Color2;
  font-size: 20px;
}

.icon-1 {
  font-size: 24px;
}
