@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$main-color: #9932ee;
$text-color: #0d1117;
$rainbow: linear-gradient(90deg, rgb(30, 218, 252) 0%, rgb(83, 20, 199) 45%, rgb(83, 20, 199) 55%, rgb(223, 78, 220) 98%);
$white: #e7e7e7;
$light-color: #6e6e6e;

@mixin flex($content, $direction) {
  display: flex;
  align-items: center;
  justify-content: $content;
  flex-direction: $direction;
}

@mixin margin($width) {
  margin: 0 auto;
  width: $width;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

main {
  text-align: center;
  color: $text-color;
}

footer {
  background-color: #2a2927;
}

a {
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: none;
  }
}

nav {
  background-color: white;
  box-shadow: 0 1px 10px $light-color;
}

.mobile-nav {
  background-color: white;

  @include margin(80%);
  @include flex(space-between, row);

  button {
    margin-left: 14px;
  }

  .iconify {
    color: $text-color;
    font-size: 24px;
  }
}

.nav-content {
  background: url(/assets/Images/Galaxy-background2.jpg);
  background-size: cover;
  background-position: 20%;
  padding: 46px;
  border-bottom: 1px solid $main-color;

  .iconify {
    color: $main-color;
  }

  a {
    @include flex(space-between, row);

    color: $white;
    padding: 10px;
    border-bottom: 1px dotted $main-color;
  }

  li {
    margin-left: 20px;
  }

  input {
    color: $white;
    border: none;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 15px 15px 15px 45px;
    border-radius: 5px;
    background-color: #0000005b;
    background-image: url(/assets/Images/Rinnegan.png);
    background-size: 30px;
    background-position: 8px center;
    background-repeat: no-repeat;

    &::placeholder,
    &:placeholder-shown {
      color: $main-color;
    }
  }
}

.first-sec {
  @include flex(center, column);

  color: $white;
  padding: 0 30px;
  height: 100vh;
  background: url(/assets/Images/Galaxy-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  h1,
  h2 {
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 5px $text-color;
  }

  h2 {
    font-size: 15px;
    letter-spacing: 1px;
  }

  span {
    text-shadow: none;
  }
}

.rainbow-title {
  background: $rainbow;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.second-sec {
  padding: 50px 40px;
}

.second-sec-headers {
  h1,
  h2,
  h3 {
    line-height: 50px;
    font-size: 36px;
    padding: 16px;
    margin: 0;
  }

  h1 {
    line-height: 30px;
    font-size: 24px;
  }
}

.feature-sec {
  @include flex(center, column);

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  .iconify {
    font-size: 36px;
    width: 36px;
    height: 36px;
    margin: 0 8% 0 0;
    color: $main-color;
  }
}

.features-container {
  padding: 20px 0;
}

.features {
  @include flex(center, row);

  padding: 0 0 12px;
}

.third-sec {
  @include flex(center, column);

  padding: 50px 40px;
  background: url(/assets/Images/Kael-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 100vh;
  color: $white;
  text-shadow: 1px 1px 5px $text-color;

  h2 {
    font-size: 36px;
  }
}

.fourth-sec {
  padding: 50px 40px;
  font-size: 20px;

  a {
    font-weight: normal;
    font-style: italic;
    color: $text-color;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-weight: bold;
  }
}

.rating {
  span {
    font-weight: normal;
  }
}

.fifth-sec {
  @include flex(center, column);

  padding: 50px 40px;
  background: url(/assets/Images/Alarak-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 25%;
  height: 100vh;
  color: $white;
  text-shadow: 1px 1px 5px $text-color;

  h2 {
    font-size: 36px;
  }
}

.boosters {
  text-align: left;
}

.booster {
  background: $main-color;
  border-radius: 25px;
  height: 280px;
  padding: 36px;
  width: 100%;
  color: $white;
  font-weight: normal;
}

.review-img {
  text-align: right;
}

.main-buttons {
  font-size: 14px;
  color: $white;
  background: $rainbow;
  padding: 15px 22px;
  margin: 16px 0;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
}

.nav-content a:hover {
  color: $main-color;
}

.fourth-sec a:hover {
  background-color: $main-color;
  color: $white;
}

@media only screen and (min-width: 480px) {
  .desktop-nav {
    @include flex(space-around, row);

    ul {
      @include flex(space-between, row);
    }
  }
}
